<%= form_for(:student, url: create_student_path) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, ['Male', 'Female'] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
